// shadow elevation x,y
$elevationY: 7px 7px 15px rgba(55, 84, 170, 0.15);
$elevationX: 8px 8px 25px 0 rgba(212, 214, 226, 0.623);

$elevationY-on-hover: -4px -4px 10px rgba(255, 255, 255, 0.83);
$elevationX-on-hover: 4px 4px 10px rgb(185, 189, 203);

$elevationY-on-active: inset -1px -1px 2px rgba(255, 255, 255, 0.83);
$elevationX-on-active: inset 1px 1px 2px rgb(185, 189, 203);
// .l {
//   color:rgb(185, 189, 203);
//   color:rgb(235, 236, 240);
// }
// $shadow-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) !default;
// $inset-shadow: 0 7px 9px -7px rgba($shadow-color-1, 0.7) inset !default;

// $box-shadow: 3px 3px 6px 3px $shadow-ele-down, -3px -3px 3px 3px $shadow-ele-up, 3px 3px 8px 2px $shadow-ele-down inset,
//   -3px -3px 7px 2px $shadow-ele-up !default;

// .shadow {
//   box-shadow: $box-shadow;
// }
