$badge-text-color: #ffffff;
$badge-default-bg: #2c3e50;
$badge-info-bg: #3498db;
$badge-warning-bg: #f1c40f;
$badge-danger-bg: #e74c3c;
$badge-success-bg: #2ecc71;

.n-badge {
  margin: 10px;
  padding: 3px 9px 2px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  box-shadow: -5px -5px 10px #ffffffa6, 3px 3px 5px rgba(176, 178, 180, 0.712);

  -moz-border-radius: 9px;
  border-radius: 9px;
  border-radius: 50px;
  cursor: pointer;

  &.n-badge-convex {
    @include sheet(convex);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: $elevationY-on-hover, $elevationX-on-hover;
    }
  }
  &.n-badge-concave {
    @include sheet(concave);
    &:hover {
      transition: all 0.2s ease-in-out;
      box-shadow: $elevationX-on-hover, $elevationY-on-hover;
    }
  }

  &.n-badge:hover {
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: $elevationY-on-hover, $elevationX-on-hover;
    }
  }
  &.n-badge-success {
    background-color: $badge-success-bg;
  }

  &.n-badge-denger {
    background-color: $badge-danger-bg;
  }
  &.n-badge-warning {
    background-color: $badge-warning-bg;
  }

  &.n-badge-info {
    background-color: $badge-info-bg;
  }
}

//  badge for notifications

.n-notification {
  background: transparent;
  color: black;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  box-shadow: -5px -5px 10px #ffffffa6, 3px 3px 5px rgba(176, 178, 180, 0.712);
  &.notification-convex {
    @include sheet(convex);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: $elevationY-on-hover, $elevationX-on-hover;
    }
  }
}
.n-notification-badge {
  box-shadow: -5px -5px 10px #ffffffa6, 3px 3px 5px rgba(176, 178, 180, 0.712);
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: $badge-info-bg;
  color: white;
  &.notification-convex {
    @include sheet(convex);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: $elevationY-on-hover, $elevationX-on-hover;
    }
  }
}
