.n-btn {
  cursor: if($enable-cursor-pointer-for-buttons, pointer, null);
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  outline: 0;
  border: 0;
  vertical-align: middle;
  padding: $button-padding;
  letter-spacing: 0.5px;
  line-height: 36px;
  text-transform: uppercase;
  font-size: $button-font-size;
  line-height: $button-line-height;
  text-decoration: none;
  color: inherit;
  background: transparent;
  font-weight: $button-font-weight;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: $global-border-radius;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //
  margin: 15px;
  //
  // &.n-btn-border {
  //   border-radius: 14px;
  //   background-repeat: no-repeat;
  //   background-origin: padding-box, border-box;
  // }
  // &.n-btn-inset:hover {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: auto;
  //   width: auto;
  //   background: transparent;
  //   box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  //   position: relative;
  // }
  // &.n-btn-boreder::before {
  //   border: 2px solid rgba(255, 255, 255, 0.5);
  //   border-radius: 12px;
  //   bottom: -3px;
  //   content: "";
  //   left: -3px;
  //   right: -3px;
  //   position: absolute;
  //   top: -3px;
  // }
  &.n-btn-convex {
    @include sheet(convex);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: $elevationY-on-hover, $elevationX-on-hover;
    }
  }
  &.n-btn-concave {
    @include sheet(concave);
    &:hover {
      transition: all 0.2s ease-in-out;
      box-shadow: $elevationX-on-hover, $elevationY-on-hover;
    }
    &:active {
      transition: all 1s ease;
      box-shadow: $elevationX-on-active, $elevationY-on-active;
    }
  }
  &.n-btn-outline {
    border: 2px solid black;
  }
}
