.n-card {
  //   @include sheet(concave);
  position: relative;
  background: $background;
  border-radius: $global-border-radius;
  vertical-align: top;
  padding: 24px;
  width: min-content;
  .n-card-img {
    position: relative;
    border-radius: inherit;
    border: 5px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1),
      0px 0px 4px rgba(255, 255, 255, 0.2) !important;
    margin: -5px;
    background-color: #f3f4f7;
    img {
      display: block;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      border-radius: inherit;
      border-style: none;
    }
    .n-card-img-content {
      overflow: hidden;
      .n-card-title {
        position: absolute;
        padding: 16px;
        color: #fff;
        background: rgba(0, 0, 0, 0.47);
      }
    }
  }
  .n-card-img:first-child {
    img {
      // border-bottom: 0;
      // border-top-left-radius: inherit;
      // border-top-right-radius: inherit;
    }
  }
  .n-card-img:not(:first-child) {
    img {
      // border-top-left-radius: 0;
      // border-top-right-radius: 0;
    }
  }
  .n-card-img:last-child {
    img {
      border-bottom: 0;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
    .n-card-img-content {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      .n-card-title {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
  }
  .n-card-content {
    padding: 16px;
    .n-card-title {
      color: #555f76;
      font-size: 22px;
      // error
      // display: block;
      // line-height: 30px;
      // margin-bottom: 8px;
      // font-size: 24px;
      // font-weight: 300;

      /**
      no need to add font properties in other class;
      instead it should be in typography classes 
      then uers should just add the classes;
      -------------
      eg: <p class="n-card-title text-h5">stuff</p>

      **/
    }
  }
  .n-card-footer {
    position: relative;
    background-color: inherit;
    padding: 16px;
  }
  &.n-card-flat {
    @include sheet(flat);
  }
  &.n-card-convex {
    @include sheet(convex);
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
  &.n-card-concave {
    @include sheet(concave);
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }

  //
  &.n-card-convex {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background: transparent;
    // box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
    position: relative;
  }
  &.n-card-inset {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background: transparent;
    // box-shadow: inset -3px -3px 7px #ffffffa6, inset 3px 3px 5px rgba(94, 104, 121, 0.712);
    box-shadow: $global-inset-X, $global-inset-Y;
    // box-shadow:  inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    // inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;;
    position: relative;
  }

  &.n-card-raised {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background: transparent;
    box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
    position: relative;
  }
  &.n-card-raised:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);

    border-radius: 10px;
    background-color: transparent;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
  }
}
