.n-nav-button {
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  border: 0;
  color: #61677c;
  font-weight: bold;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  // transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
.n-nav-button:hover {
  box-shadow: red;
}
