@mixin sheet($type: convex) {
  @if $type == concave {
    background: linear-gradient(145deg, rgba(249, 250, 251, 0.902), rgba(223, 225, 236, 0.523));
    box-shadow: $elevationX, $elevationY;
  } @else if $type ==convex {
    background: linear-gradient(145deg, #d4d4d8, rgb(250, 250, 255));
    box-shadow: $elevationY, $elevationX;
  } @else if$type == flat {
    background-color: inherit;
    // padding: 40px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1),
      0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  }
}
