$global-hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !default;

$button-border-radius: 3px !default;
$button-padding: 4px 16px !default;
$button-dense-padding: 0.285em !default;
$button-transition: $global-hover-transition !default;
$button-font-size: 14px !default;
$button-line-height: 1.715em !default;
$button-font-weight: 500 !default;

$enable-cursor-pointer-for-buttons: true !default;

//

$background: rgb(242, 243, 247);

$global-inset-X: inset -3px -3px 10px -1px #ffffffb0;
$global-inset-Y: inset 3px 3px 6px -5px rgba(94, 104, 121, 0.671);
// cards
// .g {
//   box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15),
//     inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
// }
