$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$green: #1fdeb3;
$blue: #12c3d2;
$yellow: #ffe53b;
$orange: #ff2525;
$orange-btn: #ff9f33;
$dark-blue: #21d4fd;
$purple: #b721ff;
$purple-btn: #7274ff;
$red: #f44336;
$black: #212121;
$disabled: #c1c1c1;
//

// @function colors($r, $g, $b, $a) {

// }
